<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig allowedReferers="*"
             mustMatch="true">
    <serverUrls>
        <serverUrl url="http://laptop-sfw.etgnz.eagle.co.nz:6080"
                   matchAll="true"/>    

    	<serverUrl url="http://analysis.arcgis.com" 
               matchAll="true" 
               dynamicToken="true"></serverUrl>
    </serverUrls>
</ProxyConfig>

<!-- See https://github.com/Esri/resource-proxy for more information -->
