<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig allowedReferers="*"
             mustMatch="true">
    <serverUrls>
        <serverUrl url="http://yourserver:6080"
                   matchAll="true" username="youruser" password="yourpwd" tokenServiceUri="arcgis/tokens/generateToken"/>    

    	<serverUrl url="http://analysis.arcgis.com" 
               matchAll="true" 
               dynamicToken="true"></serverUrl>
    </serverUrls>
</ProxyConfig>

<!-- See https://github.com/Esri/resource-proxy for more information -->
